<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/stylesheets/foundation.min.css">
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/foundation.min.js"></script>
<script src="/javascripts/what-input.js"></script>
<style>
    body        { padding-top:80px; word-wrap:break-word; }
</style>
<title></title>
