<div class="top-bar-container" data-sticky-container>
	<div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
		<div class="top-bar">
			<div class="row column">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li class="menu-text">Site Title</li>
						<li class="has-submenu">
						<li><a href="/myTemp">Template</a></li>
						<li><a href="/sidemenu">SideMenu</a></li>
						<li><a href="/profile">Profile</a></li>
						<li><a href="/dataTable">dataTable</a></li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="dropdown menu" data-dropdown-menu>
						<li>Hi! <%- message %></li>
						<li>
							<a href="/logout">
								<img src="/images/exit1.png" style="height:25px;width:30px"></img>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
