<!-- views/login.ejs -->
<!doctype html>
<html>
	<head>
		<% include includes/head %>
<style>
    body        { padding-top:80px; word-wrap:break-word; }
</style>

	</head>
	<body>
		<div class="row">
			<div class="medium-6 medium-centered large-4 large-centered columns">
          <% if (message.length > 0) { %>
              <div class="callout alert"><%= message %></div>
          <% } %>
				<h4 class="text-center">Log in with your account</h4>
<hr>
				<form action="/" method="POST">
					<h4 class="text-center"></h4>
					<label>Username
						<input type="text" placeholder="Username" name="username">
					</label>
					<label>
							Password<input type="password" placeholder="Password" name="password">
					</label>
					<button type="submit" class="button expanded">Login</button>
				</form>
<hr>
			</div>
		</div>
	</body>
</html>
