<!-- views/login.ejs -->
<!doctype html>
<html>
	<head>
	    <title>Home</title>
      <link rel="stylesheet" href="/stylesheets/foundation.min.css">
      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/foundation.min.js"></script>
      <script src="/javascripts/what-input.js"></script>
	    <style>
	        body        { padding-top:80px; }
	    </style>
	</head>
	<body>
		<div class="row">
			<div class="medium-6 medium-centered large-4 large-centered columns">
          <% if (message.length > 0) { %>
              <div class="callout alert"><%= message %></div>
          <% } %>
<hr>
				<form action="/" method="POST">
					<h4 class="text-center">Log in with your account</h4>
					<label>Username
						<input type="text" placeholder="Username" name="username">
					</label>
					<label>
							Password<input type="password" name="password">
					</label>
					<button type="submit" class="button expanded">Login</button>
				</form>
<hr>

			</div>
		</div>
	</body>
</html>
