<!doctype html>
<html>
<head>
	<% include includes/head %>
<style>
.sticky 		{width: 100%;}
</style>
</head>
<body>
	<% include includes/top_bar %>
	<div class="row column">
		<div class="callout secondary">
		<div class="small-4 medium-3 large-3 columns">
			<ul class="vertical menu" data-accordion-menu>
				<li>
					<a href="#">Item 1</a>
					<ul class="menu vertical nested">
						<li><a href="#"> 1 a </a></li>
						<li><a href="#"> 1 b </a></li>
						<li><a href="#"> 1 c </a></li>
					</ul>
				</li>
				<li><a href="#">Item 2</a>
				<li><a href="#">Item 3</a>
				<li><a href="#">Item 4</a>
				<li><a href="#">Item 5</a>
			</ul>
		</div>
		</div>
		<div class="small-8 medium-9 large-9 columns">
			<H1> OK </H1>
		</div>
	</div>
	<% include includes/foundation_init %>


</body>
</html>

