<!doctype html>
<html>
<head>
	<% include includes/head %>
<style>
.sticky 		{width: 100%;}
</style>
</head>
<body>
	<div class="expanded row">
	<% include includes/top_bar %>

		<div class="medium-8 large-10 medium-push-3 large-push-2 columns">
			<h3> OK </h3>
			<hr>
			<div class="callout secondary">
				<table class="hover">
				  <thead>
				    <tr>
				      <th width="50">Table Header</th>
				      <th>Table Header</th>
				      <th width="150">Table Header</th>
				      <th width="150">Table Header</th>
				      <th width="150">Table Header</th>
				      <th width="150">Table Header</th>
				    </tr>
				  </thead>
				  <tbody>
				<% for(var i=0;i<table.length;i++) {%>
					<tr>
					<% for (var j in table[i]) { %> 
						<td><%= table[i][j] %></td>
					<% } %>
					</tr>
				<% } %>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="medium-3 large-2 medium-pull-9 large-pull-10 columns callout" style="height:92.8vh;margin-bottom:1vh">
			<ul class="vertical menu docs-nav secondary" id="docs-menu">
				<li class="docs-nav-version">
					<span data-docs-version> Menu </span>
				</li>
				<li class="docs-nav-title">
					Item	
				</li>
				<li>
					<a href="#">OK</a>
				</li>
				<li>
					<a href="#">OK</a>
				</li>
				<li>
					<a href="#">OK</a>
				</li>
			</ul>
		</div>

	</div>
	<% include includes/foundation_init %>


</body>
</html>

