<!doctype html>
<html>
<head>
	<% include includes/head %>
<style>
.sticky {
  width: 100%;
}
</style>
</head>
<body>
	<% include includes/top_bar %>



	<% include includes/foundation_init %>


</body>
</html>

